@import '../../common/sass/variables';

.card {
  padding: 15px;
  margin-bottom: 20px;
  flex-direction: initial;

  .card-image {
    max-width: 20%;
    display: inline-block;
    margin-right: 20px;
  }

  .card-text {
    max-width: 75%;
    padding-top: 30px;
    display: inline-block;
  }

  @include media-breakpoint-down(sm) {
    .card-image,
    .card-text {
      max-width: 100%;
      margin: 0;
      display: inline;
      display: block;
      padding: 0;
    }

    .card-text {
      padding-top: 15px;
    }
  }
}
