@import '../../../node_modules/bootstrap/scss/media';
@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins/breakpoints';

@mixin heading-text {
  font-size: 24px;
  margin-bottom: 25px;
  @include media-breakpoint-down(sm) {
    font-size: 18px;
    margin-bottom: 15px;
  }
}
@mixin sub-heading-text {
  font-size: 18px;
  margin-bottom: 15px;

  @include media-breakpoint-down(sm) {
    font-size: 16px;
  }
}
